* {
  margin: 0;
  padding: 0;
  font-family: "averta cy w10";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  background-color: #fff;
}

#home {
  width: 100%;
  min-height: 100vh;
  border: 2px solid red;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px 50px;
}
#nav img {
  width: 100px;
}
#nav #right {
  display: flex;
  align-items: center;
  gap: 20px;
}
#nav a {
  text-decoration: none;
  font-weight: 400;
  color: #000;
  letter-spacing: -1px;
  font-size: 1vw;
}

#nav i {
  margin-top: 3px;
  font-size: 20px;
}
#home #homemain {
  width: 100%;
  padding: 15vw 15vw;
}

#homemain h1 {
  font-weight: 700;
  letter-spacing: -0.1vw;
  font-size: 1.5vw;
}

.headings {
  display: flex;
  gap: 40px;
}
#homemain .headings h1 {
  font-size: 7vw;
  -webkit-text-stroke: 1px #000;
  letter-spacing: -8px;
  line-height: 1;
  color: transparent;
  font-weight: 900;
}
#homelast {
  padding: 5vw 15vw;
}

#homelast p {
  font-size: 1.6vw;
  font-weight: 400;
  width: 70%;
  letter-spacing: 1px;
}

#homelast p::selection {
  background-color: #000;
  color: #fff;
}
#featured {
  padding: 10vw 15vw;
}
#featured h1 {
  line-height: 1;
  font-size: 4vw;
  font-weight: 400;
}
#featured h2 {
  line-height: 1;
  font-size: 4vw;
  color: transparent;
  -webkit-text-stroke: 1px #000;
  font-weight: 400;
}

#featured h1::nth-child(2) {
  color: transparent;
  -webkit-text-stroke: 1px #000;
}
#featuredimage {
  width: 100%;
  padding: 5vw 15vw;
  padding: 2px solid red;
}
